/* ::-webkit-scrollbar {
  width: 25px;
}

::-webkit-scrollbar-track {
  background-color: red;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(red, yellow);
  border-radius: 25px;
} */

.template-design {
  height: 600px;

  width: 355px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
img {
  height: 200px;
  width: 300px;
  border-radius: 10px;
}

ul {
  list-style: none;
}
